extends ../template

block variables
    - var title = 'Добро пожаловать'

block content
    .maincontent
        include ../section/general.pug
        include ../section/profile.pug
        include ../section/contact.pug
