
@import 'layout/_fonts.scss';
@import 'layout/_variables.scss';
@import 'layout/_mixin.scss';


html{
    height: 100%;
    width: 100%;
}
body{
   height: 100%;
   width: 100%;
   font-family: 'MyriadPro';
   max-width: 1920px;
   min-width: 320px;
   
}
.wrapper{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.maincontent{
    width: 50%;
    height: 100%;
}

.section{
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;

}



h1{
    font-size: 123px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 45px;
}

h2{
    font-size: 83px;
    color: $blue;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 23px;
}

a{
    text-decoration: none;

}

ul{
    list-style: none;
}


@import 'common/title';
@import 'common/general';
@import 'common/profile'; 