section.section.contact
    .title
        .title__icon
            .title__icon-wrapper
                svg.title__icon-img
                    use(xlink:href='../../assets/images/sprite.svg#phone')
        h2.title__text contact
        .title__line
    .content 