section.section.general
    .foto
        .foto__wrapper
            img.foto__img(alt='My foto')
    h1.general__title 
        span.general__title-name name here <br>
        span.general__title-surname surname
    .profession graphic designer
    